<%= form_for @team do |f| %>
	<fieldset>
		<% if @team.errors.any? %>
			<div class="alert-message warning">
				<h3>Please fix the following errors</h3>
				<ul>
				<% @team.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
		    </div>
		<% end %>
		
		<div class="clearfix">
			<%= f.label :name, :class=>"xlInput" %>
			<div class="input">
				<%= f.text_field :name, :class=>"xlInput" %>
			</div>
		</div>			
		<div class="actions">
	        <button type="submit" class="btn primary">Save Changes</button>
	     </div>	
	</fieldset>
<% end %>