<div class="row">
	<div class="span8 columns">
		<h1>
			<%= link_to @team.name, team_path %>
			<small>
			<%= link_to 'Delete', team_path, 
								  :confirm => 'Are you sure you want to delete?',
								  :method => :delete %>
			</small>
		</h1>
		<%= render 'form' %>
	</div>
</div>