<div class="row">
	<div class="span8 columns">
		<h1>
			<%= link_to "#{@geekbuster.first_name} #{@geekbuster.last_name}", geekbuster_path %>
			<small>
			<%= link_to 'Delete', geekbuster_path, 
								  :confirm => 'Are you sure you want to delete?',
								  :method => :delete %>
			</small>
		</h1>
		<%= render 'form' %>
	</div>
</div>