<div class="row">
	<div class="span8 columns">
		<h1>Geekbuster Listing <small><%= link_to "Add", new_geekbuster_path %></small></h1>
		<table class="zebra-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
				</tr>
			</thead>
			<tbody>
			<% @geekbusters.each_with_index do |g, i| %>
				<tr>
					<td><%= link_to i, g %></td>
					<td><%= g.first_name %></td>
					<td><%= g.last_name %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>