<div class="topbar">
	<div class="fill">
		<div class="container">
			<h3><%= link_to "Geekbusters", root_path %></h3>
			<ul>
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">About</a></li>				
			</ul>
			<%= form_tag("/search", :method => "get") do %>
				<%= text_field_tag(:query)%>
				<button class="btn primary">Search</button>				
		            <!-- <input type="text" placeholder="Search"> -->
            <% end %>			
		</div>
	</div>
</div>